In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
parul=pd.read_excel(r"C:\Users\user\Desktop\MSC(Data Science)\Principle of Data Science\Students.xlsx")

In [7]:
parul

    Customer  Age  Weight
0          1   39      39
1          2   41      42
2          3   56      50
3          4   32      32
4          5   19      25
..       ...  ...     ...
95        96   37      37
96        97   56      56
97        98   19      19
98        99   50      50
99       100   47      47

[100 rows x 3 columns]

In [9]:
mean=parul['Age'].mode()
mean

0    28
Name: Age, dtype: int64

In [11]:
mean=parul['Weight'].mean()
mean

43.48

In [13]:
median=parul['Age'].median()
median

41.0

In [15]:
median=parul['Weight'].median()
median

41.5

In [17]:
mode=parul['Age'].mode()
mode

0    28
Name: Age, dtype: int64

In [19]:
mode=parul['Weight'].mode()
mode

0    28
Name: Weight, dtype: int64