# Practical 1
# Title : Missing Value Treatment
# Name: Snehal Rajendra Gawade
# Date: 20/08/2024
# PRN:2401208025

In [19]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [20]:
# Q.1 Import the bodyfat1 data set in Jupyter Notebook
df = pd.read_excel(r"C:\Users\user\Desktop\MSC(Data Science)\Statistic\statistic(Python)\BodyFat.xlsx")

# Display the first few rows of the dataset
df.head()

,IDNO,BODYFAT,DENSITY,AGE,WEIGHT,HEIGHT,ADIPOSITY,NECK,CHEST,ABDOMEN,HIP,THIGH,KNEE,ANKLE,BICEPS,FOREARM,WRIST
0,1.0,12.6,1.0708,23.0,154.25,67.75,23.7,36.2,93.1,85.2,94.5,59,37.3,21.9,32.0,27.4,17.1
1,2.0,6.9,1.0853,22.0,173.25,72.25,23.4,38.5,NaN,83.0,98.7,58.7,37.3,23.4,30.5,28.9,18.2
2,3.0,24.6,1.0414,22.0,154.00,66.25,24.7,34.0,95.8,87.9,99.2,59.6,38.9,24.0,28.8,25.2,16.6
3,4.0,10.9,1.0751,26.0,184.75,72.25,24.9,37.4,101.8,86.4,101.2,60.1,37.3,22.8,32.4,29.4,18.2
4,5.0,27.8,1.0340,24.0,184.25,71.25,25.6,34.4,97.3,100.0,101.9,63.2,42.2,24.0,32.2,27.7,17.7

In [21]:
# Q.2 Find the summary of bodyfat1. Using the summary statistics, 
df.describe()

,IDNO,BODYFAT,DENSITY,AGE,WEIGHT,HEIGHT,ADIPOSITY,NECK,CHEST,ABDOMEN,HIP,ANKLE,BICEPS,WRIST
count,246.000000,246.000000,241.000000,240.000000,237.000000,246.000000,244.000000,246.000000,238.000000,240.000000,246.000000,241.000000,240.000000,236.000000
mean,126.215447,18.937398,1.059704,45.012500,203.955485,70.105691,25.570492,37.994715,108.492437,92.590000,99.070732,23.022407,32.332500,18.951695
std,73.074510,7.767997,0.067730,12.709987,247.312254,3.687681,4.111956,2.451708,84.085322,10.916334,11.273014,2.253848,3.054585,8.955452
min,1.000000,0.000000,0.995000,22.000000,118.500000,29.500000,18.100000,31.100000,79.300000,69.400000,1.000000,2.600000,24.800000,15.800000
25%,63.250000,12.800000,1.041400,35.750000,158.250000,68.250000,23.100000,36.400000,94.450000,84.475000,95.325000,22.000000,30.275000,17.600000
50%,125.500000,19.000000,1.055000,43.500000,177.000000,70.000000,25.150000,38.000000,99.600000,90.950000,99.300000,22.800000,32.100000,18.300000
75%,188.750000,24.600000,1.070500,54.000000,198.250000,72.250000,27.400000,39.475000,105.525000,99.725000,103.175000,24.000000,34.425000,18.800000
max,252.000000,45.100000,2.064100,81.000000,3263.150000,77.750000,54.200000,51.200000,1016.500000,148.100000,147.700000,35.200000,45.000000,149.000000

In [22]:
#state whether which of the variables has missing values
df.isnull().sum()

IDNO          6
BODYFAT       6
DENSITY      11
AGE          12
WEIGHT       15
HEIGHT        6
ADIPOSITY     8
NECK          6
CHEST        14
ABDOMEN      12
HIP           6
THIGH         8
KNEE         15
ANKLE        11
BICEPS       12
FOREARM      14
WRIST        16
dtype: int64

In [23]:
#Q.3  How many total missing values are there in bodyfat1?
# Total number of missing values in the entire dataset
total_missing_values = df.isnull().sum().sum()

print(f"Total missing values in the dataset: {total_missing_values}")

Total missing values in the dataset: 178

In [24]:
#Q.4 How many total empty rows are there in the data set? Remove the empty rows from bodyfat1.

In [25]:
# Check for completely empty rows (all values are NaN)
empty_rows = df.isnull().all(axis=1).sum()

print(f"Total empty rows: {empty_rows}")

Total empty rows: 6

In [26]:
# Remove completely empty rows
df_cleaned = df.dropna(how='all')

# Display the shape of the cleaned dataset to confirm rows are removed
print(f"Shape after removing empty rows: {df_cleaned.shape}")

Shape after removing empty rows: (246, 17)

In [27]:
# Q.5 How many missing values are there in the variable ‘CHEST’.

df['CHEST'].isnull().sum()

14

In [28]:
#Remove these missing values from the data set.

In [29]:
# Remove rows where 'CHEST' has missing values
df_cleaned = df.dropna(subset=['CHEST'])

In [30]:
# Q.6 How many missing values are there in the variable ‘WEIGHT’. 
df['WEIGHT'].isnull().sum()

15

In [31]:
#Impute these missing values using mean.
df['WEIGHT'].fillna(df['WEIGHT'].mean(), inplace=True)

# Verify if the missing values in 'WEIGHT' are filled
print(df['WEIGHT'].isnull().sum())

0

In [32]:
# Q.7 How many missing values are there in the variable ‘HIP’. 

df['HIP'].isnull().sum()

6

In [33]:
#Impute these missing values using median.
df['HIP'].fillna(df['HIP'].median(), inplace=True)

# Verify if the missing values in 'HIP' are filled
print(df['HIP'].isnull().sum())

0

In [34]:
# Q.8 How many missing values are there in the variable KNEE”.

df['KNEE'].isnull().sum()

15

In [35]:
#Impute these missing values using mean.
knee_mean = df['KNEE'].loc[df['KNEE'].apply(lambda x: str(x).replace(".", "").isdigit())].astype(float).mean()

# Fill missing values in the 'KNEE' column with the computed mean
df['KNEE'].fillna(knee_mean, inplace=True)

# Verify if missing values in 'KNEE' are filled
print(df['KNEE'].isnull().sum())

0